<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      {# <img src="{{pokemon.trainer.get_icon_url()}}" class="img-fluid rounded-start" alt="avatar"> #}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        {# <h5 class="card-title">{{pokemon.trainer.first_name}} {{pokemon.trainer.last_name}} My Pokemon: </h5> #}
        <p class="card-text">{{pokemon.pokemon_name}}</p> 
        <p class="card-text">{{pokemon.ability}}</p>
        <p class="card-text">{{pokemon.base_experience}}</p>
        <p class="card-text">{{pokemon.base_hp}}</p>
        <p class="card-text">{{pokemon.base_defense}}</p>
        <p class="card-text">{{pokemon.base_attack}}</p>
        <p class="card-text">{{pokemon.front_shiny}}</p>
        <small><a href="">View My Pokemon</a></small>

        {# {% if current_user.id == post.author.id %} ???
        <small><a href="{{url_for('social.edit_post', id=post.id)}}">Edit Pokemon list</a></small> ????
        {% endif %}#}
      </div>
    </div>
  </div>
</div>

