{% extends 'base.html.j2' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/pokemon.css')}}">
{% endblock %}

{% block title %}
  Catch your Pokemons
{% endblock %}

{% block content %}
    <h1>Choose your Pokemons!</h1>
    <form action="{{url_for('main.pokemon')}}" method="POST">
        <div>
            {{form.search.label(class="form-label")}}
            {{form.search(class="form-control")}}
        <small style="color:red;">{{error}}</small>
        <br>
            {{form.submit(class="btn btn-danger form-control")}}
        </div>
    </form>

    {% if pokemons %}
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Pokemon Name</th>
            <th scope="col">Ability</th>
            <th scope="col">Base Experience</th>
            <th scope="col">Base HP</th>
            <th scope="col">Base Defense</th>
            <th scope="col">Base Attack</th>
            <th scope="col">Front Shiny</th>
            </tr>
        </thead>
        <tbody>
            {% for pokemon in pokemons %}
                <tr>
                    <th scope="row">{{pokemon.name}}</th>
                    <td>{{pokemon.ability}}</td>
                    <td>{{pokemon.base_experience}}</td>
                    <td>{{pokemon.base_hp}}</td>
                    <td>{{pokemon.base_defense}}</td>
                    <td>{{pokemon.base_attack}}</td>
                    <td><img src='{{pokemon.front_shiny}}'height=100 width=100></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}
<br>
    <h1> Your Pokemon was added </h1>
    <hr>
    {% for pokemon in pokemons %}
        {% include './includes/_post.html.j2' %}
    {% endfor %}
{% endblock %}